# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# Logs
logs/
*.log
*.csv

# OS files
.DS_Store
Thumbs.db

# Sequelize
config/config.json
*.sqlite
*.sqlite3

# Build output
dist/
build/

# Misc
coverage/
tmp/
temp/
.cache/
